.panel {
	float: left;
	height: 42%;
	width: 25%;
	padding: 8px;
	overflow: scroll;
}

.panel.col3 {
	width: 75%;
}

.panel.row2 {
	height: 80%;
	float: right;
}

.panel h3 {
	font-size: 14px;
	font-weight: normal;
	padding-left: 10px;
	padding-bottom: 10px;
}